#
# APPLICATION
#
APP_NAME=boilerplate
APP_SCHEMA=http
APP_HOST=localhost
APP_PORT=3000
APP_ROUTE_PREFIX=/api
APP_BANNER=true
APP_API_KEY=key
APP_CORS_WHITELIST=http://localhost:3000
JWT_SECRET=secret

#
# LOGGING
#
LOG_LEVEL=debug
LOG_FILE=false
LOG_FILEPATH=/var/log/backend/Cortel/logs/
LOG_FILENAME=out-%DATE%.log
LOG_ROTATE=false
LOG_OUTPUT=:method :url :status :response-time ms - :res[content-length]

#
# PostgreSQL DATABASE
#
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=pass
TYPEORM_DATABASE=hack
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=error
TYPEORM_LOGGER=advanced-console

#
# PATH STRUCTURE
#
TYPEORM_MIGRATIONS=src/database/migrations/**/*.ts
TYPEORM_MIGRATIONS_DIR=src/database/migrations
TYPEORM_ENTITIES=src/api/models/**/*.ts
TYPEORM_ENTITIES_DIR=src/api/models
CONTROLLERS=src/api/controllers/**/*Controller.ts
MIDDLEWARES=src/api/middlewares/**/*Middleware.ts
INTERCEPTORS=src/api/interceptors/**/*Interceptor.ts
SUBSCRIBERS=src/api/subscribers/**/*Subscriber.ts
RESOLVERS=src/api/resolvers/**/*Resolver.ts

#
# Swagger
#
SWAGGER_ENABLED=true
SWAGGER_AUTOGENERATION_ENABLED=true
SWAGGER_ROUTE=/swagger
SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=1234
SWAGGER_FILE_ENABLED=false
SWAGGER_FILE_PATH=/../swagger-example.yaml
SWAGGER_API_URL=http://localhost:3000/api

#
# Status Monitor
#
MONITOR_ENABLED=false
MONITOR_ROUTE=/monitor
MONITOR_USERNAME=admin
MONITOR_PASSWORD=1234

#
# Redis
#
REDIS_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
